@charset "UTF-8";
:root {
  --black-color-1: #000000;
  --black-color-2: #1D1D1D;
  --black-color-3: #2A2A2A;
  --black-color-4: #757575;
  --black-color-5: #2A2A2A;
  --gray-color: #0f0f12;
  --green-color: #98ca3f;
  --yellow-color: #fcee0a;
  --sky-blue-color: #2490fc;
  --white-color: #ffffff;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}